<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>jQuery订单系统样式</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link href="../css/form.css" rel="stylesheet" type="text/css">

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jquery.Form.js"></script>
<script type="text/javascript" src="../js/jquery.Area.js"></script>
<script type="text/javascript" src="../js/jquery.Spinner.js"></script>

<!--[if lte IE 6]>
	<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a.js"></script>
	<script type="text/javascript">
		DD_belatedPNG.fix('*');
	</script>
	<![endif]-->
</head>

<body>

<div class="iDo-main">
<form class="registerform" target="_blank" action="ajax_post.php">
	<div class="iDo-title"></div>
	<div class="iDo-list">
		<ul class="iDo-list-ul">
			<li class="iDo-list-li-title">
				<div class="iDo-list-li-d1">选择</div>
				<div class="iDo-list-li-d2">商品名称</div>
				<div class="iDo-list-li-d3">商品单价</div>
				<div class="iDo-list-li-d4">数量</div>
				<div class="iDo-list-li-d5">小计</div>
			</li>
			<li class="iDo-list-li">
				<div class="iDo-list-li-d1"><input type="checkbox" id="iDo-product-1" price="418" name="p1" datatype="*"></div>
				<div class="iDo-list-li-d2"><label for="iDo-product-1">A款·升杯体验装</label></div>
				<div class="iDo-list-li-d3"><label for="iDo-product-1">官网直销价：¥418元</label></div>
				<div class="iDo-list-li-d4"><span id="p1" class="Spinner"></span></div>
				<div class="iDo-list-li-d5"><label for="iDo-product-1" class="subtotal">¥418.00元</label></div>
			</li>
			<li class="iDo-list-li">
				<div class="iDo-list-li-d1"><input type="checkbox" id="iDo-product-2" price="418" name="p1"></div>
				<div class="iDo-list-li-d2"><label for="iDo-product-2">A款·升杯体验装</label></div>
				<div class="iDo-list-li-d3"><label for="iDo-product-2">官网直销价：¥418元</label></div>
				<div class="iDo-list-li-d4"><span id="p2" class="Spinner"></span></div>
				<div class="iDo-list-li-d5"><label for="iDo-product-2" class="subtotal">¥418.00元</label></div>
			</li>
			<li class="iDo-list-li">
				<div class="iDo-list-li-d1"><input type="checkbox" id="iDo-product-3" price="418" name="p1"></div>
				<div class="iDo-list-li-d2"><label for="iDo-product-3">A款·升杯体验装</label></div>
				<div class="iDo-list-li-d3"><label for="iDo-product-3">官网直销价：¥418元</label></div>
				<div class="iDo-list-li-d4"><span id="p3" class="Spinner"></span></div>
				<div class="iDo-list-li-d5"><label for="iDo-product-3" class="subtotal">¥418.00元</label></div>
			</li>
			<li class="iDo-list-li">
				<div class="iDo-list-li-d1"><input type="checkbox" id="iDo-product-4" price="418" name="p1"></div>
				<div class="iDo-list-li-d2"><label for="iDo-product-4">A款·升杯体验装</label></div>
				<div class="iDo-list-li-d3"><label for="iDo-product-4">官网直销价：¥418元</label></div>
				<div class="iDo-list-li-d4"><span id="p4" class="Spinner"></span></div>
				<div class="iDo-list-li-d5"><label for="iDo-product-4" class="subtotal">¥418.00元</label></div>
			</li>
			<li class="iDo-list-li-count"><i class="iDo-info-tips">温馨提示：在线支付9折优惠</i><span>¥1066</span><em>商品总价：</em><em class="iDo-cl"></em></li>
		</ul>
	</div>
	<div class="iDo-basic">
		<p class="iDo-info-p">
			<span class="iDo-info-title">姓　　名：</span>
			<span class="iDo-info-box"><input type="text" name="name" datatype="zh2-4" class="txt-len-1" nullmsg="请填写收货人姓名。"></span>
			<span class="iDo-info-tips"><i><em>*</em>请填写收货人姓名。</i></span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">手　　机：</span>
			<span class="iDo-info-box"><input type="text" datatype="m" name="mob" class="txt-len-1" nullmsg="请填写收货联系方式。"></span>
			<span class="iDo-info-tips"><i><em>*</em>请填写收货联系方式。</i></span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">固定电话：</span>
			<span class="iDo-info-box">
				<input type="text" name="tel" class="txt-len-2"><b>-</b><input type="text" name="tel" class="txt-len-3">
			</span>
			<span class="iDo-info-tips"><i><em></em>（可选）区号-电话号码</i></span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">选择省市：</span>
			<span class="iDo-info-box iDo-info-select">
				<label id="province"><select class="txt-len-4" id="iDo-province"><option>--请选择--</option></select></label><span class="iDo-sc"></span>
				<label id="city"><select class="txt-len-5" id="iDo-city"><option>--请选择--</option></select></label><span class="iDo-sc"></span>
				<label id="county"><select class="txt-len-6" id="iDo-county"><option>--请选择--</option></select></label>
			</span>
			<span class="iDo-info-tips"><i><em>*</em>请选择收货省市信息。</i></span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">详细地址：</span>
			<span class="iDo-info-box"><input type="text" name="name" class="txt-len-7"></span>
			<span class="iDo-info-tips"><i><em>*</em></i></span>
			<span class="iDo-cl"></span>
		</p>
	</div>
	<div class="iDo-details">
		<p class="iDo-info-p">
			<span class="iDo-info-title">付款方式：</span>
			<span class="iDo-info-box">
				<span class="iDo-pay"><input type="radio" id="iDo-pay-1" name="name" checked><label class="iDo-pay-1" for="iDo-pay-1">货到付款</label></span>
				<span class="iDo-pay"><input type="radio" id="iDo-pay-2" name="name"><label class="iDo-pay-2" for="iDo-pay-2">支付宝付款</label></span>
				<span class="iDo-pay"><input type="radio" id="iDo-pay-3" name="name"><label class="iDo-pay-3" for="iDo-pay-3">网银付款</label></span>
			</span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">订单备注：</span>
			<span class="iDo-info-box"><input type="text" name="name" class="txt-len-7"></span>
			<span class="iDo-info-tips"><i><em>*</em></i></span>
			<span class="iDo-cl"></span>
		</p>
		<p class="iDo-info-p">
			<span class="iDo-info-title">验证码：</span>
			<span class="iDo-info-box"><input type="text" name="name" class="txt-len-8"></span>
			<span class="iDo-info-tips"><i><em>*</em>手机和固定电话请至少填一项。</i></span>
			<span class="iDo-cl"></span>
		</p>
	</div>
	<div><input type="submit" value="提交" /></div>
</form>
</div>
<div class="iDo-side">
	<div class="iDo-side-tel iDo-side-bg">
		<div class="iDo-side-icon">
			<span>全国免费订购咨询热线</span>
			<strong>400-0000-000</strong>
		</div>
	</div>
	<div class="iDo-side-hours iDo-side-bg">
		<div class="iDo-side-icon">
			<span>营业时间</span>
			<strong>8:00-23:00</strong>
		</div>
	</div>
	<div class="iDo-side-tips">
		<div class="iDo-side-icon">温馨提示</div>
		<div class="iDo-side-tips-contents">
		1.为保障隐私，产品均以保密方式配送；<br>
		2.本品纯天然产品，不可代替药品使用；<br>
		3.为了保证您的权益，每盒产品防伪贴上验证码仅能验证1次，敬请知悉；<br>
		4.为达最佳效果，请以套装坚持服用。
		</div>
	</div>
	<div class="iDo-side-btn">
		<a href="#"></a>
	</div>
	<div class="iDo-side-sale">
		<div class="iDo-side-icon">发货信息</div>
		<ul>
			<li>
				<div class="iDo-side-sale-t"><span>广东&nbsp;王小姐</span><em>132****6595</em></div>
				<div class="iDo-side-sale-c"><span>A款·升杯体验装</span><em>2盒</em></div>
				<div class="iDo-side-sale-c"><span>A款·升杯体验装</span><em>2盒</em></div>
				<div class="iDo-side-sale-b"><span>√&nbsp;已发货&nbsp;&nbsp;中通速递</span><em>2015-01-28</em></div>
			</li>
			<li>
				<div class="iDo-side-sale-t"><span>广东&nbsp;王小姐</span><em>132****6595</em></div>
				<div class="iDo-side-sale-c"><span>A款·升杯体验装</span><em>2盒</em></div>
				<div class="iDo-side-sale-c"><span>A款·升杯体验装</span><em>2盒</em></div>
				<div class="iDo-side-sale-b"><span>√&nbsp;已发货&nbsp;&nbsp;中通速递</span><em>2015-01-28</em></div>
			</li>
		</ul>
	</div>
</div>


<script type="text/javascript" src="../js/jquery.Validform.js"></script>
<script type="text/javascript">
$(function(){
	$(".iDo-main:last").Validform({tiptype:3});  //就这一行代码！下面是演示两种不同的验证效果;
})
</script>
</body>

</body>
</html>
