<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.student.StudentMapper">

    <select id="queryStudentById" parameterType="int" resultType="com.demo.entity.student.Student">
        SELECT * FROM student WHERE sid = #{sid}
    </select>

    <insert id="addStudent" parameterType="com.demo.entity.student.Student">
        insert INTO student(sname,sage,address,gender) values (#{sname},#{sage},#{address},#{gender})
    </insert>

    <insert id="addUserStudent" parameterType="com.demo.entity.student.Student">
        insert INTO student(sname,sage,address,gender) values (#{sname},#{sage},#{address},#{gender})
    </insert>
</mapper>